<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- svg cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- sweet alert CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <!-- CSS here -->
    
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body>
  <section class="vh-100" style="background-color: #eee"></section>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Sign up
                </p>

                <form action="/register" method="POST" class="mx-1 mx-md-4">
                  <!-- Champ du nom d'utilisateur -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div
                      data-mdb-input-init
                      class="form-outline flex-fill mb-0"
                    >
                      <input
                        type="text"
                        name="username"
                        id="form3Example1c"
                        class="form-control"
                        pattern="[a-zA-Z0-9_]{3,20}"
                        title="Username must be between 3 and 20 characters, and can only contain letters, numbers, and underscores"
                        required
                      />
                      <label class="form-label" for="form3Example1c"
                        >Your Name</label
                      >
                    </div>
                  </div>

                  <!-- Champ de l'email -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div
                      data-mdb-input-init
                      class="form-outline flex-fill mb-0"
                    >
                      <input
                        type="email"
                        name="email"
                        id="form3Example3c"
                        class="form-control"
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                        title="Invalid email address"
                        required
                      />
                      <label class="form-label" for="form3Example3c"
                        >Your Email</label
                      >
                    </div>
                  </div>

                  <!-- Champ du mot de passe -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div
                      data-mdb-input-init
                      class="form-outline flex-fill mb-0"
                    >
                      <input
                        type="password"
                        name="password"
                        id="form3Example4c"
                        class="form-control"
                        required
                      />
                      <label class="form-label" for="form3Example4c"
                        >Password</label
                      >
                    </div>
                  </div>

                  <!-- Bouton de soumission -->
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      type="submit"
                      data-mdb-button-init
                      data-mdb-ripple-init
                      class="btn btn-primary btn-lg"
                    >
                      Register
                    </button>
                  </div>
                </form>
                <p class="mb-5 pb-lg-2" style="color: #393f81;">I have an account? <a href="/login"
                      style="color: #393f81;">Login here</a></p>
              </div>
              
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid"
                  alt="Sample image"
                />
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>



